{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de actividades</h2>
    <a href="{% url 'crear_actividad' %}" class="card-header bg-custom mb-3">Crear actividad</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Grupo</th>
                    <th>Actividad</th>
                    <th>Subactividad</th>
                    <th>Unidad</th>
                    <th>Producción diaria mínima</th>
                    <th>Producción diaria máxima</th>
                    <th>Producción diaria promedio</th>
                    <th>Producción unidad/hora prom.</th>
                    <th>Producción hora/unidad prom.</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for actividad in actividades %}
                <tr>
                    <td>{{ actividad.codigo }}</td>
                    <td>{{ actividad.grupo }}</td>
                    <td>{{ actividad.actividad }}</td>
                    <td>{{ actividad.subactividad }}</td>
                    <td>{{ actividad.unidad }}</td>
                    <td>{{ actividad.produccion_diaria_min }}</td>
                    <td>{{ actividad.produccion_diaria_max }}</td>
                    <td>{{ actividad.produccion_diaria_prom }}</td>
                    <td>{{ actividad.produccion_unid_hr_prom }}</td>
                    <td>{{ actividad.produccion_hr_unid_prom }}</td>
                    <td>
                        <a href="{% url 'editar_actividad' actividad.id %}" class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ actividad.id }}">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Actividad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta actividad?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var idActividad = button.getAttribute('data-id');
        var form = document.getElementById('deleteForm');
        form.action = '/eliminar_actividad/' + idActividad + '/';
    });
</script>
{% endblock %}
