{% extends 'index.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de actividades</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1 class="page-title">Lista de actividades</h1>
    <a href="{% url 'crear_actividad' %}" class="btn btn-sm btn-primary mb-3">Crear actividad</a>
    <div style="width: 100%; overflow-x: auto;">
        <table>
            <thead>
                <tr>
                    <th>Índice</th>
                    <th>Código</th>
                    <th>Grupo</th>
                    <th>Actividad</th>
                    <th>Subactividad</th>
                    <th>Unidad</th>
                    <th>Producción diaria mínima</th>
                    <th>Producción diaria máxima</th>
                    <th>Producción diaria promedio</th>
                    <th>Producción unidad/hora prom.</th>
                    <th>Producción hora/unidad prom.</th>
                    <th>Camioneta</th>
                    <th>Motoniveladora</th>
                    <th>Camion aguatero</th>
                    <th>Bomba de agua</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for actividad in actividades %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ actividad.codigo }}</td>
                    <td>{{ actividad.grupo }}</td>
                    <td>{{ actividad.actividad }}</td>
                    <td>{{ actividad.subactividad }}</td>
                    <td>{{ actividad.unidad }}</td>
                    <td>{{ actividad.produccion_diaria_min }}</td>
                    <td>{{ actividad.produccion_diaria_max }}</td>
                    <td>{{ actividad.produccion_diaria_prom }}</td>
                    <td>{{ actividad.produccion_unid_hr_prom }}</td>
                    <td>{{ actividad.produccion_hr_unid_prom }}</td>
                    <td>{{ actividad.camioneta }}</td>
                    <td>{{ actividad.motoniveladora }}</td>
                    <td>{{ actividad.camion_aguatero }}</td>
                    <td>{{ actividad.bomba_de_agua }}</td>
                    <td>
                        <div class="d-flex flex-column" style="gap: 10px;">
                            <a href="{% url 'editar_actividad' actividad.id %}" class="btn btn-sm btn-info">Editar</a>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ actividad.id }}">Eliminar</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Actividad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta actividad?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var idActividad = button.getAttribute('data-id');
        var form = document.getElementById('deleteForm');
        form.action = '/eliminar_actividad/' + idActividad + '/';
    });
</script>
{% endblock %}
