{% extends 'index.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de rutas</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1 class="page-title">Lista de rutas</h1>
    <a href="{% url 'crear_ruta' %}" class="class=btn btn-sm">Crear ruta</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Distrito</th>
                    <th>Zona</th>
                    <th>Sección</th>
                    <th>Longitud (km)</th>
                    <th>Tramo</th>
                    <th>Salida</th>
                    <th>Destino</th>
                    <th>Pavimento</th>
                    <th>Empedrado</th>
                    <th>Ripio</th>
                    <th>Tierra</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ruta in rutas %}
                <tr>
                    <td>{{ ruta.ruta }}</td>
                    <td>{{ ruta.distrito }}</td>
                    <td>{{ ruta.zona }}</td>
                    <td>{{ ruta.seccion }}</td>
                    <td>{{ ruta.longitud_km }}</td>
                    <td>{{ ruta.tramo }}</td>
                    <td>{{ ruta.lugar_inicial }}</td>
                    <td>{{ ruta.lugar_final }}</td>
                    <td>{{ ruta.pavimento }}</td>
                    <td>{{ ruta.empedrado }}</td>
                    <td>{{ ruta.ripio }}</td>
                    <td>{{ ruta.tierra }}</td>
                    <td>
                        <div class="d-flex flex-column" style="gap: 10px;">
                            <a href="{% url 'editar_ruta' ruta.ruta %}" class="btn btn-sm btn-info">Editar</a>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ ruta.ruta }}">Eliminar</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Ruta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta ruta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var idRuta = button.getAttribute('data-id');
        var form = document.getElementById('deleteForm');
        form.action = '/eliminar_ruta/' + idRuta + '/';
    });
</script>
{% endblock %}
